<html>
<head>
    <title>ZŠ Bílá | Administrace</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style-admin.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div id="particles-js"></div>
<div class="login-form">
    <h1 class="h1-login">Přihlášení</h1>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="login-form2">
            <span class="p-login">Jméno</span>
            <br>
            {{ form.username }}
        </div>

        <div class="login-form2">
            <span class="p-login">Heslo</span>
            <br>
            {{ form.password }}
        </div>

        <button class="login-button" type="submit">Přihlásit se</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
<script src="/static/js/particles.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>
