{% extends "zsbila/defaultadmin.html" %}


{% block admin %}
    <h1 class="dashboard-name">Upravit článek</h1>
    <form method="POST" class="post-form">{% csrf_token %}
       {{ item_formset.management_form }}
       {{ form.as_p }}


       {% comment %}
           {{ form.title_text }}
           {{ form.post_text }}
           {{ form.post_pinned }}
           {{ form.publisher }}
       {% endcomment %}
       <button type="submit" class="save btn btn-default">Uložit</button>
    </form>

{% endblock %}
