{% extends "zsbila/defaultadmin.html" %}


{% block admin %}
<br>
<br>
<br>
    <div class="table-out">
        <div class="table-in">
            <div class="table-img-1">
                <img src="/static/pictures/post-128.png" class="table-img"/>
            </div>
            <div class="table-text-1">
                <span class="title">Menu - Položky</span><br/>
            </div>
            <div class="table-control">
                <a href="/admin/menu-cat/menu-item" class="table-control2">Zobrazit</a><br/>
            </div>
        </div>

        <div class="table-in">
            <div class="table-img-1">
                <img src="/static/pictures/post-128.png" class="table-img"/>
            </div>
            <div class="table-text-1">
                <span class="title">Menu - Kategorie</span><br/>
            </div>
            <div class="table-control">
                <a href="/admin/menu-cat" class="table-control2">Zobrazit</a><br/>
            </div>
        </div>
    </div>
{% endblock %}
