{% extends "zsbila/defaultadmin.html" %}


{% block admin %}
    <div class="table-header">
        <a href="/admin/menu-cat/menu-item/new/edit" class="create-btn">Vytvořit nový</a>
    </div>
    <div class="table-out">
        {% for MenuItem in items %}
            <div class="table-in">
                <div class="table-img-1">
                    <img src="/static/pictures/globe-256.png" class="table-img"/>
                </div>
                <div class="table-text-1">
                    <span class="title">{{ MenuItem.item_title }}</span><br/>
                </div>
                <div class="table-control">
                    <a href="/admin/menu-cat/menu-item/{{ MenuItem.item_title }}/delete" class="table-control2">Smazat</a><br/>
                    <a href="/admin/menu-cat/menu-item/{{ MenuItem.item_title }}/edit" class="table-control2">Upravit</a><br/>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
