{% extends "zsbila/default.html" %}
{% load staticfiles %}


{% block body %}
    <div class="bgimg-3" style="background-image: url({% static 'pictures/adventure-climb-clouds-305818.jpg' %});">
    </div>


    <div class="gallery-prehled">
        <h1 class="h1-kontakt">Fotogalerie</h1>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
        <div class="gallery-album">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr05/original-6710-1439319334-17.jpg?downsize=715" class="img-rocnik">
            <a href="galerie-prehled-akce.html" class="text-rocnik">2017-2018</a>
        </div>
    </div>


    {% endblock %}
