{% extends "zsbila/default.html" %}
{% load staticfiles %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static 'js/page.js' %}"></script>

{% block body %}
    <div class="bgimg-2" style="background-image: url({% static 'pictures/adventure-climb-clouds-305818.jpg' %});">
    </div>

    <div class="content-box2">
      <div class="clanek-box">
          {% for post in pinned_post_list %}
              <div class="clanek-pinned">
                  <h1 class="h1-kontakt2">{{ post.title_text }}</h1>
                  <p class="p-clanek">
                      {{ post.post_short_text | safe }}
                  </p>
                  <p><a href="/clanek/{{ post.title_text }}" class="vice-odkaz">Více >></a></p>
                  <p class="autor">Autor: {{ post.publisher }}</p>
                  <p class=datum>Datum: {{ post.pub_date }}</p>
              </div>
          {% endfor %}

          {% for post in posts %}
              <div class="clanek">
                  <h1 class="h1-kontakt">{{ post.title_text }}</h1>
                  <p class="p-clanek">
                      {{ post.post_short_text | safe }}
                  </p>
                  <p><a href="/clanek/{{ post.title_text }}" class="vice-odkaz">Více >></a></p>
                  <p class="autor">Autor: {{ post.publisher }}</p>
                  <p class=datum>Datum: {{ post.pub_date }}</p>
              </div>
          {% endfor %}


          <div class="pagination">
              {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}" class="pagination-odkaz">Previous</a>
              {% endif %}


                  {% for num in post.paginator.page_range %}
                        {{ num }}
                  {% endfor %}

              {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="pagination-odkaz2">Next</a>
              {% endif %}
          </div>


          {% comment %}
          <div class="pagination p7">
              <ul>
                  <a class="is-active" href="#"><li>Previous</li></a>
                  <a href="#"><li>Next</li></a>
              </ul>
          </div>
          {% endcomment %}

      </div>
    </div>
{% endblock %}
