{% extends "zsbila/default.html" %}
{% load staticfiles %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static 'js/page.js' %}"></script>

{% block body %}
    <div class="bgimg-3" style="background-image: url({% static 'pictures/adventure-climb-clouds-305818.jpg' %});">
    </div>
    <div class="content-box3">
      <div class="clanek-box3">
        <div class="onas-box">
          <h3 class="text-onas1">O škole</h3>
          <p class="text-onas2">
          <img src="{% static 'pictures/adventure-climb-clouds-305818.jpg' %}" style="width: 300px; float: left; padding-right: 20px; padding-top: 5px; padding-bottom: 10px;" /></p>
          Stavba bývalého francouzského lycea  v Bílé ulici v Dejvicích dokončená podle návrhu Jana Gillara v roce 1934, nabyla evropské proslulosti už krátce po svém vzniku a stala se vzorem pro výstavbu pozdějších nejen pražských škol. Architektura stavby byla cele podřízena zamýšlené funkci objektů od vnější podoby (mateřská škola, základní škola, lyceum) až po osvětlení místností a zřízení odborných pracoven. Tento skvost funkcionalistické architektury obdivují i dnešní architekti.
Francouzské gymnázium bylo vystřídáno reformním reálným gymnáziem, jedenáctiletkou, dvanáctiletkou a pak školou základní. V roce 1974 dostala základní škola jméno po zakladateli mexické republiky Benito Juárezovi. V roce 2006 prošla celkovou rekonstrukcí za více než 125 milionů korun pouze z prostředků zřizovatele – Městské části Praha 6. V současné době nese název ZŠ a MŠ Bílá, podle ulice, kde sídlí.
<br>
<br>
V současnosti je ve škole 25 tříd. Většina tříd je umístěna v hlavní budově, kde je částečně prostorově oddělen I. a II. stupeň. Dvě první třídy a jedna druhá třída jsou umístěny v areálu školní družiny v samostatné budově. Tímto opatřením neřešíme nedostatek místa v hlavní budově, ale snažíme se vytvořit novým školákům klidnější a ničím nerušené prostředí při přechodu na základní školu. Ve všech ročnících probíhá výuka podle vlastního vzdělávacího programu Cesta k úspěchu.
<br>
<br>
Jsme běžnou základní školou. Přesto se však zaměřujeme na určité oblasti více. Jednou takovou oblastí je výuka jazyků. Máme velmi propracovaný systém výuky jazyků, a to jak na prvním stupni, tak i na druhém stupni.  Výuku zajišťují jak naši velmi kvalitní jazykáři,  tak i rodilí mluvčí, kteří učí v součtu více než dva a půl úvazku učitele.  S výukou začínáme již v první a druhé třídě, resp. již v naší mateřské školce, kdy dětem nabízíme výuku formou kroužku zařazeného v dopolední výuce.  ve všech dalších ročnících mají žáci po 4 hod. anglického jazyka týdně, což je o celou jednu čtvrtinu výuky více než předepisuje RVP.
<br>
<br>
Na škole pracuje i speciální pedagožka a asistenti pedagoga, kteří pomáhají žákům se specifickými poruchami zvládat obtíže v učení. Speciální pedagožka pracuje se žáky z 1. stupně v D-klubu, kde jsou rozděleni podle druhu poruchy a věku. Přes počáteční nedůvěru ze strany rodičů i vyučujících se tento systém velmi osvědčil, k velké spokojenosti žáků, rodičů i učitelů. Všichni žáci, u nichž byla diagnostikována speciální porucha učení, mají zpracovaný individuální plán a obě pedagogické asistentky podle doporučení pedagogicko-psychologické poradny s jednotlivými žáky pracují.
<br>
<br>
Ve volném čase si naši žáci i děti mimoškolní mohou vybrat ze široké  nabídky školních kroužků. V rámci školní družiny, která je otevřená pro všechny děti od 1. do 3. ročníku, případně i zájemcům že 4. ročníku, se mohou děti zabavit při rozličných aktivitách dle měsíčních plánů zkušených vychovatelek.  Ve škole funguje školní knihovna, která je pod vedením paní knihovnice plně k dispozici všem žákům i učitelům každý den od 10 do 15 hodin.
<br>
<br>
Raritou je odborná učebna fyziky, která byla v rámci rekonstrukce uvedena do původního stavu, tak jak byla zařízena v roce 1935. Do lavic je zaveden střídavý i stejnosměrný proud, každá lavice má i svou skříňku na pomůcky tak, aby každý žák mohl podle pokynů učitele sám provádět pokusy.
<br>
<br>
Nově rekonstruovány byly odborné pracovny - učebna chemie i s chemickou laboratoří, ateliér pro výtvarnou výchovu, učebna hudební výchovy má i vlastní nahrávací studio apopulární karaoke.
<br>
<br>
V multimediální učebně MMPII kompletně zrekonstruované v roce 2014 pak mají žáci k dispozici 29 počítačů a vyučující interaktivní tabuli. Postupně vybavujeme všechny učebny moderní technikou -  každá učebna má svůj počítač, doplňujeme dataprojektory, interaktivní tabule s ozvučením, vizualizéry, velkoplošné plazmové televize.  V celé budově školy je velmi kvalitní wifi síť, která umožňuje využívat všech 70 iPadů pro výuku jakéhokoli předmětu ve kterékoliv místnosti školy.
<br>
<br>
Pro tělesnou výchovu využíváme dvě vlastní tělocvičny a multifunkčń venkovní hřiště v areálu školy i prostory stadionu SK Kotlářka. V ozvučené aule školy je divadelní jeviště, které slouží nejen pro vystoupení školního souboru Bělásek a školního dramatického kroužku, ale i pro další kulturní akce jako jsou školní plesy či vánoční koncerty.
<br>
<br>
Během všech přestávek mají děti naprostou volnost pohybu po celé budově školy. V případě příznivého počasí mohou především žáci I. stupně trávit velké přestávky na školní zahradě nebo na školním hřišti. Ve škole funguje školní bufet, který nabízí dětem o velké přestávce obložené housky, jogurty a mléčné svačiny. Maximálně jsou využívány i stoly pro stolní tenis umístěné v hale školy. Všichni žáci mají k dispozici uzamykatelné šatní skříňky.
<br>
<br>
Školní jídelna vaří denně tři jídla (jedno je vždy bezmasé), které si žáci mohou předem objednávat buď pomocí bezdotykových čipů nebo pomocí internetu - viz hlavní menu - Jídelna (klikni zde)
<br>
<br>
</div>
<br>
<br>
<div id="skolni-rad" class="onas-box">
<h3 class="text-onas1">Školní řád</h3>
<p class="text-onas2">Vážení rodiče, v letošní roce vstoupily v platnost některé změny ve Školní řádu.
Novinkou v letošním roce je zavedení elektronické žákovské knížky, kterou budou používat všechny děti od 3. do 9. třídy.  Žákům tak zůstane jen Záznamník žáka, ktrý bude sloužit k omlouvání absence (omluvný list) a k ostatním záznamům a sdělením informativního charakteru. Dětem prvního a druhého ročníku zůstávají i nadále papírové Notýsky.
Další změnou, kterou jsme od letošního roku zavedli, je zákaz používání mobilních telefonů, a to nejen při výuce, ale po celou dobu přítomnosti dětí ve škole. Jsme přesvědčeni, že toto opatření bude mít významný dopad na utváření vnitřního klimatu tříd i školy. Prosíme vás, abyste nás v tomto kroku podpořili i vy.
Třetí úprava řeší postup podávání žádostí o uvolněni z výuky. Od letošního roku můžete žádat o uvolnění do pěti dnů včetně svého třídního učitele, na více dnů pak ředitele školy. Zůstává v platnosti pravidlo, že rodiče mohou žádat o uvolnění v maximální délce dvou týdnů ve školním roce.
Úpravy Školního řádu schválila Školská rada před začátkem školního roku.
Školní řád v plném znění otevřete <a href="#">zde</a></p>
</div>

<br>
<br>
<div id="skolni-rad" class="onas-box">
<h3 class="text-onas1">3D model školy</h3>
<div class="sketchfab-embed-wrapper"><iframe width="100%" height="300px" src="https://sketchfab.com/models/12596df4717241be86ced3c154a59cac/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
<p class="text-onas2">Autoři modelu: <b>Matěj Svoboda, Vojtěch sýkora</b></p>
</div>
<br>
<br>
<div id="skolni-rad" class="onas-box">
<h3 class="text-onas1">Rozvrhy</h3>
<p class="text-onas2">Rozvrhy hodin jednotlivých tříd pro školní rok 2018/2019 jsou k dispozici v systému Bakaláři <a href="#">zde</a>.
Přihlašovací údaje pro zákonné zástupce /1x/ a pro žáka /1x/ jste obdrželi od třídního učitele. Jsou platné po celou dobu studia na ZŠ Bílá.
Novým žákům bude přihlašovací jméno a heslo vydáno při nástupu do školy.
V případě ztráty přihlašovacích údajů kontaktujte emailem zástupce ředitele školy Mgr. Jiřího Švece <a href="#">svec@zsbila.cz</a> a vyčkejte na vygenerování nového hesla.
</p>
</div>
<br>
<br>
<div id="skolni-rad" class="onas-box">
<h3 class="text-onas1">Kroužky</h3>
<p class="text-onas2">Ve školním roce 2018/ 2019 nabízíme pro naše žáky opět širokou nabídku kroužků. Více informací najdete níže :
<br>
Nabídku <b>Školních kroužků</b> Zobrazíte <a href="#">zde</a>
<br>
<br>
<b>Škola je registrována v programu Aktivní město.</b> Rodiče žáků s trvalým pobytem na Praze 6 mohou čerpat příspěvek ve výši 600Kč/800 Kč i na vybrané školní kroužky - viz webové stránky Aktivní město, sekce Benefity. Pro přesměrování klikni <a href="#">zde</a>
<br>
<br>
Anotaci vybraných kroužků otevřete <a href="#">zde</a></p>
</div>
<br>
<br>
<div id="skolni-rad" class="onas-box">
<h3 class="text-onas1">Výroční zpráva</h3>
<p class="text-onas2"><a href="#">Zde si můžete prohlédnout výroční zprávu za školní rok 2017/18</a>
<br>
<br>
<i>Dokument je uložen ve formátu PDF. V případě, že jej nemáte ve svém počítači nainstalován, můžete si jej volně stáhnout z internetu.</i></p>
</div>

      </div>
    </div>
{% endblock %}
